
doctype html
html
  include ./nav.jade
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel='stylesheet', href='/stylesheets/nav.css')
  body
    div(class="layout-header")
      h1 TODOs Manager
    div(class="layout-content")
      block content
    div(class="layout-footer") copyright 2016, all rights reserved.
