doctype html
html
  head
    title todos manager

    block stylesheets
      link(rel='stylesheet', href='./layouts/layout.css')

    // include all the mixins
    include ../mixins/nav.jade

  body

    header.layout-header
      h1 todos manager

    main.layout-content
      block content

    footer.layout-footer copyright 2016, all rights reserved.

