link(rel='stylesheet', href='./mixins/nav.css')

//- Declaration
mixin nav(selectedView)
  article.main-nav
    ul
      li(class={active: selectedView === "addNew"}) todos list
      li(class={active: selectedView === "todoList"}) add new
